<app-header></app-header>
<app-subbanner pageTitle='About Us'></app-subbanner>


<div class="aboutusPage">
    <div class="our-services section ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="left-image">
                        <img src="assets/images/services-left-image2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="section-heading">
                        <h2><em>who</em> are we ?</h2>
                        <p>
                            Welcome to World Media Management, a leading digital marketing agency based in Khaldeh,
                            Lebanon. With hard work, commitment to excellence, and continuous skill development,
                            throughout our 6+ years in the sector, World Media Management has established a strong
                            presence in the market. Our persistent commitment has enabled us to meet the demands of over
                            150 local & international clients and win their trust.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="missionVision">
        <div class="container">
            <div class="section-heading row">
                <div class="col-lg-8">
                    <h2><em>Our</em> mission</h2>
                    <p>
                        Striving with the most effective marketing strategies, in addition to excellent customer care
                        experiences, and most importantly being the masters of delivering compelling marketing messages
                        that deliver sales & results.
                    </p>
                </div>

                <div class="col-lg-1 empty"></div>
                <div class="col-lg-3">
                    <img src="../../assets/images/mission.png" alt="" class="shrink">
                </div>
            </div>

            <div class="section-heading row">
                <div class="col-lg-3">
                    <img src="../../assets/images/vision.png" alt="" class="shrink resize">
                </div>
                <div class="col-lg-1 empty"></div>
                <div class="col-lg-8">
                    <h2><em>Our</em> vision</h2>
                    <p>
                        Acting as an instrument of a positive change in the community & helping dreamers reach their
                        destination to the top-into a sky that has no limits.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-portfolio section our-clients slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading  wow bounceIn " data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2 class="text-align-left">
                        Check out our <em>services</em> and <em>what we do</em>
                    </h2>

                    <p>
                        At World Media Management, we offer a wide range of digital marketing services paving the way of
                        success for businesses in the online world. Our services include, but are not limited to:
                    </p>
                    <!-- <br>
                    <ul class="list">
                        <li>Digital Marketing</li>
                        <li>Website development</li>
                        <li>SEO & SEM</li>
                        <li>Advertising campaigns</li>
                        <li>Content Creation</li>
                        <li>Graphic design</li>
                        <li>Video editing</li>
                        <li>Production services : photography and videography</li>
                    </ul> -->
                    <br><br>
                </div>
            </div>
        </div>
        <div class="servicesSlider">
            <div class="item col-lg-3 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="showed-content">
                    <img src="assets/images/digitalmarketing.svg" alt="">
                    <span>Digital marketing</span>
                </div>
            </div>
            <div class="item col-lg-3 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="showed-content">
                    <img src="assets/images/webdev.png" alt="">
                    <span>Website development</span>
                </div>
            </div>
            <div class="item col-lg-3 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="showed-content">
                    <img src="assets/images/webdesign.svg" alt="">
                    <span>Graphic design</span>
                </div>
            </div>
            <div class="item col-lg-3 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="showed-content">
                    <img src="assets/images/Productionservices.svg" alt="">
                    <span>Production services</span>
                </div>
            </div>
        </div>

        <div class="main-prim-button center">
            <a routerlink="/services" routerLinkActive="'active">View all services</a>
        </div>

    </div>
</div>


<app-footer></app-footer>