<div class="comingSoon">
    <div class="content">
        <img src="../../assets/images/logos/WMM-final-logo-PNG.png" alt="world media management logo" class="logo">
        <div class="txt">
            <h1>Coming soon!</h1>
            <p>
                Our website is under construction. Follow us and stay tuned.
            </p>
        </div>
        <div class="social">
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100086601592048" class="fb"></a>
                </li>
                <li><a target="_blank" href="https://www.instagram.com/worldmediamanagement.lb/" class="ig"></a></li>
                <li><a target="_blank"
                        href="https://api.whatsapp.com/send?phone=%2B96170303909&fbclid=IwAR1WXW19gf-io977x6p-rVX7vrIHSvX3yD4urFyYlusFaoTHzCVOQfb0h_E"
                        class="wp"></a></li>
            </ul>
        </div>
    </div>
</div>