.our-clients {
    margin-bottom: 100px;
    .section-heading h2 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .item{
        margin-bottom:30px;
    }

    .item:hover .showed-content {
        top: 0px;
    }

    .servicesSlider{
        margin-bottom:40px;

        &::after{
            content:'';
            display:block;
            clear:both;
        }
    }

    .main-prim-button {
        text-align: center;
        a {
            display: inline-block;
        }
    }
}

