// @import '~lightgallery/scss/lightgallery';


video{
    height:auto;
    width:100%;
}

.videoplayer{
    border-radius:10px;
    
    
}

.videosListing .row{
    margin:0 -15px;
}

.vidCont{
    
    overflow:hidden;
    padding: 0 15px;
    width:20%;
    margin-bottom:30px;
}