<app-header></app-header>
<app-subbanner pageTitle='Videography and Photography'></app-subbanner>




<div class="postsListing ">
    <div class="container">
        <h2>Photo Gallery</h2>
        <div class="row">
            <lightgallery [settings]="settings">
                <a href="../../assets/images/pic1.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic1.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic2.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic2.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic3.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic3.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic4.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic4.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic5.jpeg">
                    <span>
                        <img alt="" src="../../assets/images/pic5.jpeg" />
                    </span>
                </a>
                <a href="../../assets/images/pic6.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic6.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic7.jpeg">
                    <span>
                        <img alt="" src="../../assets/images/pic7.jpeg" />
                    </span>
                </a>
                <a href="../../assets/images/pic8.jpeg">
                    <span>
                        <img alt="" src="../../assets/images/pic8.jpeg" />
                    </span>
                </a>
                <a href="../../assets/images/pic9.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic9.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic10.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic10.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic11.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic11.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic12.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic12.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic13.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic13.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic14.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic14.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic15.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic15.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic16.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic16.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic17.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic17.jpg" />
                    </span>
                </a>
                <a href="../../assets/images/pic18.jpg">
                    <span>
                        <img alt="" src="../../assets/images/pic18.jpg" />
                    </span>
                </a>
            </lightgallery>
        </div>
    </div>

</div>

<div class="videosListing ">
    <div class="container">
        <h2>Videos</h2>
        <div class="row">
            <!-- <lightgallery [settings]="settings">
                <a href="../../assets/images/vid1.mp4">-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid1.mp4">
                        </video>
                    </span>
                <!-- </a>
                <a href="../../assets/images/vid2.mp4">-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid2.mp4">
                        </video>
                    </span>
                <!-- </a>
                <a href="../../assets/images/vid3.mp4">-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid3.mp4">
                        </video>
                    </span>
                <!-- </a>
                <a href="../../assets/images/vid4.mp4">-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid4.mp4">
                        </video>
                    </span>
                <!-- </a>
                <a href="../../assets/images/vid5.mp4">ß-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid5.mp4">
                        </video>
                    </span>
                <!-- </a>
                <a href="../../assets/images/vid6.mp4">-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid6.mp4">
                        </video>
                    </span>
                <!-- </a>
                <a href="../../assets/images/vid7.mp4">-->
                    <span class="vidCont"> 
                        <video controls class="videoplayer">
                            <source src="../../assets/images/vid7.mp4">
                        </video>
                    </span>
                <!-- </a>
            </lightgallery> -->
        </div>
    </div>

</div>




<app-footer></app-footer>